# Copyright 2025 Canonical Ltd.
# See LICENSE file for licensing details.

name: Auto-update Charm Libraries
on:
  workflow_call:
    inputs:
      charmcraft-channel:
        description: Charmcraft channel to use for publishing the charm and resources
        type: string
        default: latest/stable
      working-directory:
        type: string
        description: The working directory for jobs
        default: "./"

jobs:
  update-lib:
    permissions:
      id-token: write # Enable OIDC
      pull-requests: write
      contents: write
    name: Check libraries
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0
        with:
          fetch-depth: 0
      - name: Check libs
        working-directory: ${{ inputs.working-directory }}
        run: |
          sudo snap install charmcraft --classic --channel ${{ inputs.charmcraft-channel }}
          charmcraft fetch-lib
        env:
          CHARMCRAFT_AUTH: ${{ secrets.CHARMHUB_TOKEN }}
      - name: Create pull request
        uses: canonical/create-pull-request@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "chore: update charm libraries"
          branch-name: "chore/auto-libs"
          title: Update charm libraries
          body: |
            Automated action to fetch latest version of charm libraries. The branch of this PR
            will be wiped during the next check. Unless you really know what you're doing, you
            most likely don't want to push any commits to this branch.
          upsert: true
          ignore-no-changes: true
