# Copyright 2024 Canonical Ltd.
# See LICENSE file for licensing details.

name: Provide approval for bot PRs

on:
  workflow_call:

jobs:
  approve_pr:
    name: Approve bot PR
    runs-on: [self-hosted, edge]
    steps:
      - name: Approve bot PR
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        if: contains(fromJSON('["jdkandersson", "renovate", "github-actions"]'), github.actor)
        uses: actions/github-script@v7
        with:
          script: |
            github.rest.pulls.createReview({
              owner: context.payload.repository.full_name.split('/')[0],
              repo: context.payload.repository.full_name.split('/')[1],
              pull_number: context.payload.number,
              event: 'APPROVE'
            })