# Copyright 2025 Canonical Ltd.
# See LICENSE file for licensing details.

name: Provide approval for bot PRs

on:
  workflow_call:

jobs:
  approve_pr:
    name: Approve bot PR
    runs-on: ubuntu-latest
    steps:
      - name: Show author
        run: |
          echo ${{ github.event.pull_request.user.login }}
      - name: Approve bot PR
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        if: contains(fromJSON('["dependabot[bot]", "renovate[bot]", "github-actions[bot]", "is-devops-bot"]'), github.event.pull_request.user.login)
        uses: actions/github-script@v8.0.0
        with:
          script: |
            github.rest.pulls.createReview({
              owner: context.payload.repository.full_name.split('/')[0],
              repo: context.payload.repository.full_name.split('/')[1],
              pull_number: context.payload.number,
              event: 'APPROVE'
            })
