# Copyright 2025 Canonical Ltd.
# See LICENSE file for licensing details.

name: Comment on the pull request

on:
  workflow_call:

jobs:
  comment-on-pr:
    name: Comment on PR
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6.0.0
      - name: Comment on PR
        uses: actions/github-script@v8.0.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const fs = require('fs');
            const comments = "Thanks for opening a pull request! Please, check that you are following our \
            [contributing guide](https://github.com/canonical/is-charms-contributing-guide/blob/main/CONTRIBUTING.md) \
            and you are not introducing breaking changes in the target channel."

            const owner = context.payload.repository.owner.login;
            const repo = context.payload.repository.name;
            const issue_number = context.payload.number;

            await github.rest.issues.createComment({
                owner: owner,
                repo: repo,
                issue_number: issue_number,
                body: comments,
            });
