# Copyright 2025 Canonical Ltd.
# See LICENSE file for licensing details.

name: Integration tests

on:
  workflow_call:
    inputs:
      builder-runner-label:
        description: Label for building the charm
        type: string
        default: ubuntu-latest
      charmcraftcache:
        description: Use charmcraftcache (https://github.com/canonical/charmcraftcache)
        type: boolean
        default: false
      charmcraft-channel:
        description: Charmcraft channel to use for the integration test
        type: string
        default: latest/stable
      channel:
        description: Actions operator provider channel as per https://github.com/charmed-kubernetes/actions-operator#usage
        type: string
        default: latest/stable
      charm-directory:
        type: string
        description: The directory for the charm under the working-directory
        default: "."
      extra-arguments:
        description: Additional arguments to pass to the integration test execution
        type: string
      extra-test-matrix:
        description: |
          Aditional mapping to lists of matrices to be applied on top of series and modules matrix in JSON format, i.e. '{"extras":["foo","bar"]}'.
          Each mapping will be injected into the matrix section of the integration-test.
        type: string
        default: "{}"
      juju-channel:
        description: Actions operator juju channel as per https://github.com/charmed-kubernetes/actions-operator#usage
        type: string
        default: 2.9/stable
      identifier:
        type: string
        description: >-
          Identifier for the integration test job: This is used to distinguish between multiple integration test jobs
          running within the same workflow. It is recommended to set this identifier to the job name.
        default: ""
      load-test-enabled:
        type: boolean
        description: Whether load testing is enabled
        default: false
      load-test-run-args:
        type: string
        description: Command line arguments for the load test execution
        default: ""
      modules:
        description: List of testing modules to run the tests in JSON format, i.e. '["foo", "bar"]'. Each element will be passed to pytest through tox as -k argument
        type: string
        default: '[""]'
      pre-run-script:
        description: Path to the bash script to be run before the integration tests
        type: string
      provider:
        description: Actions operator provider as per https://github.com/charmed-kubernetes/actions-operator#usage
        type: string
        default: microk8s
      rockcraft-channel:
        description: Rockcraft channel to use for the integration test
        type: string
        default: latest/stable
      rockcraft-ref:
        description: Used in conjunction with rockcraft-repository to pull and build rockcraft from source instead of using snapstore version.
        type: string
        default: ""
      rockcraft-repository:
        description: Pull and build rockcraft from source instead of using snapstore version (this means that the rockcraft-channel input will be ignored).
        type: string
        default: ""
      rockcraft-enable-security-nesting:
        description: Set security.nesting=true on the rockcraft lxc project to allow for nested containers.
        type: boolean
        default: false
      microk8s-addons:
        description: Microk8s provider add-ons override. A minimum set of addons (the defaults) must be enabled.
        type: string
        default: "dns ingress rbac storage"
      python-version:
        type: string
        required: false
        description: Python version to use when installing tox
        default: ""
      runs-on:
        type: string
        description: Image of the GitHub hosted runner to run the test job. This cannot be combined with self-hosted-runner=true.
      self-hosted-runner:
        type: boolean
        description: Whether to use self-hosted runners to run the jobs.
        default: false
      self-hosted-runner-arch:
        type: string
        description: Architecture to use on self-hosted runners to run the jobs.
        default: "x64"
      self-hosted-runner-image:
        type: string
        description: Image of the requested runner. Supports only 'jammy' or 'noble'.
        default: "jammy"
      self-hosted-runner-label:
        type: string
        description: Label for selecting the self-hosted runners.
        default: "large"
      series:
        description: List of series to run the tests in JSON format, i.e. '["jammy", "focal"]'. Each element will be passed to pytest through tox as --series argument
        type: string
        default: '[""]'
      setup-devstack-swift:
        description: Use setup-devstack-swift action to prepare a swift server for testing.
        type: boolean
        default: false
      test-timeout:
        description: Timeout in minutes for the integration test.
        type: number
        default: 360
      test-tox-env:
        description: The tox environment name for the integration test.
        type: string
        default: "integration"
      tmate-debug:
        description: Use tmate debugging session on integration test failure.
        type: boolean
        default: false
      tmate-timeout:
        description: Timeout in minutes to keep tmate debugging session.
        type: number
        default: 30
      trivy-fs-config:
        type: string
        description: Trivy YAML configuration for fs testing that is checked in as part of the repo
      trivy-fs-enabled:
        type: boolean
        description: Whether Trivy testing of type fs is enabled
        default: false
      trivy-fs-ref:
        type: string
        description: Target directory to do the Trivy testing
        default: "."
      trivy-image-config:
        type: string
        description: Trivy YAML configuration for image testing that is checked in as part of the repo
      trivy-severity-config:
        type: string
        description: Trivy severity configuration for image testing
        default: "CRITICAL,HIGH"
      upload-image:
        type: string
        description: >-
          Can be either 'artifact' or 'registry', which determines the method by which images used 
          in integration tests are uploaded. If set to 'artifact', the images will be uploaded as GitHub 
          action artifacts. If set to 'registry', the images will be uploaded to ghcr. 
          If this parameter is not specified, the default behavior is to use 'artifact' for pull requests 
          originating from forked repositories, and 'registry' for all other cases.
        default: ""
      use-canonical-k8s:
        type: boolean
        description: (Experimental) Whether to use canonical k8s instead of microk8s
        default: false
      with-uv:
        type: boolean
        description: Whether to use tox with uv
        required: false
        default: false
      working-directory:
        type: string
        description: The working directory for jobs
        default: "./"
      zap-auth-header:
        description: If this is defined then its value will be added as a header to all of the ZAP requests
        type: string
      zap-auth-header-value:
        description: If this is defined then its value will be used as the header name to all of the ZAP requests
        type: string
      zap-before-command:
        description: Command to run before ZAP testing
        type: string
      zap-cmd-options:
        description: Options to be used by ZAP
        type: string
        default: "-T 60"
      zap-enabled:
        type: boolean
        description: Whether ZAP testing is enabled
        default: false
      zap-target:
        description: If this is not set, the unit IP address will be used as ZAP target
        type: string
      zap-target-port:
        description: ZAP target port
        type: string
        default: '80'
      zap-target-protocol:
        description: ZAP target protocol
        type: string
        default: "http"
      zap-rules-file-name:
        description: Rules file to ignore any alerts from the ZAP scan
        type: string

env:
  REGISTRY: ghcr.io
  OWNER: ${{ github.repository_owner }}

jobs:
  plan:
    name: Plan
    runs-on: ${{ inputs.builder-runner-label }}
    outputs:
      plan: ${{ steps.plan.outputs.plan }}
      has-code-changes: ${{ steps.changes.outputs.has_code_changes }}
    steps:
      - name: Validate input
        run: |
          # exit if runs-on and self-hosted-runner is both set
            if [ -n "${{ inputs.runs-on }}" ] && [ "${{ inputs.self-hosted-runner }}" = "true" ]; then
                echo "::error Both runs-on and self-hosted-runner cannot be set at the same time."
                exit 1
            fi
      - uses: actions/checkout@v4.2.2
        with:
            fetch-depth: 0
      - uses: canonical/operator-workflows/internal/plan@main
        id: plan
        with:
          identifier: ${{ inputs.identifier }}
          upload-image: ${{ inputs.upload-image }}
          working-directory: ${{ inputs.working-directory }}
      - name: Find changes
        id: changes
        run: |
          REMOTE=$(git remote show)
          CHANGED_FILES=$(git diff --name-only "$REMOTE/${{ github.event.pull_request.base.ref }}" "${{ github.event.pull_request.head.sha }}")
          CODE_FILE_CHANGES=$(echo "$CHANGED_FILES" | grep -v "\.md$" | wc -l)
          echo "has_code_changes=$([[ $CODE_FILE_CHANGES -eq "0" ]] && echo 'False' || echo 'True')" >> $GITHUB_OUTPUT

  integration-test:
    name: Integration tests
    uses: ./.github/workflows/integration_test_run.yaml
    needs: [ plan ]
    if: always() && needs.plan.result == 'success'
    secrets: inherit
    with:
      channel: ${{ inputs.channel }}
      extra-arguments: ${{ inputs.extra-arguments }}
      extra-test-matrix: ${{ inputs.extra-test-matrix }}
      juju-channel: ${{ inputs.juju-channel }}
      load-test-enabled: ${{ inputs.load-test-enabled }}
      load-test-run-args: ${{ inputs.load-test-run-args }}
      microk8s-addons: ${{ inputs.microk8s-addons }}
      modules: ${{ inputs.modules }}
      owner: ${{ github.repository_owner }}
      plan: ${{ needs.plan.outputs.plan }}
      pre-run-script: ${{ inputs.pre-run-script }}
      provider: ${{ inputs.provider }}
      python-version: ${{ inputs.python-version }}
      use-canonical-k8s: ${{ inputs.use-canonical-k8s }}
      registry: ghcr.io
      runs-on: ${{ inputs.runs-on || 'ubuntu-22.04' }}
      self-hosted-runner-arch: ${{ inputs.self-hosted-runner-arch }}
      self-hosted-runner-image: ${{ inputs.self-hosted-runner-image }}
      self-hosted-runner-label: ${{ inputs.self-hosted-runner-label }}
      self-hosted-runner: ${{ inputs.self-hosted-runner }}
      series: ${{ inputs.series }}
      setup-devstack-swift: ${{ inputs.setup-devstack-swift }}
      test-timeout: ${{ inputs.test-timeout }}
      test-tox-env: ${{ inputs.test-tox-env }}
      tmate-debug: ${{ inputs.tmate-debug }}
      tmate-timeout: ${{ inputs.tmate-timeout }}
      trivy-fs-config: ${{ inputs.trivy-fs-config }}
      trivy-fs-enabled: ${{ inputs.trivy-fs-enabled }}
      trivy-fs-ref: ${{ inputs.trivy-fs-ref }}
      with-uv: ${{ inputs.with-uv }}
      working-directory: ${{ inputs.working-directory }}
      zap-auth-header-value: ${{ inputs.zap-auth-header-value }}
      zap-auth-header: ${{ inputs.zap-auth-header }}
      zap-before-command: ${{ inputs.zap-before-command }}
      zap-cmd-options: ${{ inputs.zap-cmd-options }}
      zap-enabled: ${{ inputs.zap-enabled }}
      zap-rules-file-name: ${{ inputs.zap-rules-file-name }}
      zap-target-port: ${{ inputs.zap-target-port }}
      zap-target-protocol: ${{ inputs.zap-target-protocol }}
      zap-target: ${{ inputs.zap-target }}
