# Copyright 2025 Canonical Ltd.
# See LICENSE file for licensing details.

on:
  push:
    branches:
      - feature/template-files
    paths:
      # support managing renovate.json for now
      - 'renovate.json'

permissions:
  pull-requests: write

jobs:
  create-pr-from-template-files:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.0
      - name: pull-request
        run: |
          gh pr create --title "Changes in template files" --body "Syncing changes on changed template files for the repo."

        env:
          GH_TOKEN: ${{ github.token }}
