# Copyright 2023 Canonical Ltd.
# See LICENSE file for licensing details.

name: Promote charm

on:
  workflow_call:
    inputs:
      origin-channel:
        type: string
        description: 'Origin Channel'
      destination-channel:
        type: string
        description: 'Destination Channel'
      base-architecture:
        type: string
        description: 'Charmcraft Base Architecture'
        default: 'amd64'

jobs:
  get-runner-image:
    name: Get runner image
    uses: ./.github/workflows/get_runner_image.yaml
  promote-charm:
    name: Promote charm
    runs-on: ${{ needs.get-runner-image.outputs.runs-on }}
    needs: get-runner-image
    steps:
      - uses: actions/checkout@v3
      - name: Release charm to channel
        uses: canonical/charming-actions/release-charm@2.2.2
        with:
          credentials: ${{ secrets.CHARMHUB_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          origin-channel: ${{ inputs.origin-channel }}
          destination-channel: ${{ inputs.destination-channel }}
          base-name: ${{ needs.get-runner-image.outputs.name }}
          base-channel: ${{ needs.get-runner-image.outputs.channel }}
          base-architecture: ${{ inputs.base-architecture }}
  draft-publish-docs:
    name: Draft publish docs
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: Search for docs folder
        id: docs-exist
        run: echo "docs_exist=$([[ -d docs ]] && echo 'True' || echo 'False')" >> $GITHUB_OUTPUT
      - name: Publish documentation
        if: steps.docs-exist.outputs.docs_exist == 'True'
        uses: canonical/upload-charm-docs@main
        with:
          discourse_host: discourse.charmhub.io
          discourse_api_username: ${{ secrets.DISCOURSE_API_USERNAME }}
          discourse_api_key: ${{ secrets.DISCOURSE_API_KEY }}
          dry_run: true
          github_token: ${{ secrets.GITHUB_TOKEN }}
  publish-docs:
    if: ${{ github.event.inputs.destination-channel }} == 'latest/stable'
    name: Publish docs
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: Search for docs folder
        id: docs-exist
        run: echo "docs_exist=$([[ -d docs ]] && echo 'True' || echo 'False')" >> $GITHUB_OUTPUT
      - name: Publish documentation
        if: steps.docs-exist.outputs.docs_exist == 'True'
        uses: canonical/upload-charm-docs@main
        id: publishDocumentation
        with:
          discourse_host: discourse.charmhub.io
          discourse_api_username: ${{ secrets.DISCOURSE_API_USERNAME }}
          discourse_api_key: ${{ secrets.DISCOURSE_API_KEY }}
          dry_run: true
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Show index page
        if: steps.docs-exist.outputs.docs_exist == 'True'
        run: echo '${{ steps.publishDocumentation.outputs.index_url }}'
