# Copyright 2024 Canonical Ltd.
# See LICENSE file for licensing details.

name: Promote charm

on:
  workflow_call:
    inputs:
      base-architecture:
        type: string
        description: 'Charmcraft Base Architecture'
        default: 'amd64'
      charm-working-directory:
        type: string
        description: The working directory for the charm
      destination-channel:
        type: string
        description: 'Destination Channel'
      doc-automation-disabled:
        type: boolean
        description: 'Whether to disable the documentation automation'
        default: true
      origin-channel:
        type: string
        description: 'Origin Channel'
      working-directory:
        type: string
        description: The working directory for jobs
        default: "./"

jobs:
  get-runner-image:
    name: Get runner image
    uses: ./.github/workflows/get_runner_image.yaml
  validate-channels:
    name: Validate channels
    needs: get-runner-image
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4.1.1
      - run: |
          set -e
          origin_track=$(echo ${{ inputs.origin-channel }} | cut -d "/" -f 1)
          destination_track=$(echo ${{ inputs.destination-channel }} | cut -d "/" -f 1)
          if [ $origin_track != $destination_track ]; then
            echo "::error::Destination track $destination_track does not match origin track $origin_track"
            exit 1
          fi
  promote-charm:
    name: Promote charm
    runs-on: ${{ needs.get-runner-image.outputs.runs-on }}
    needs: [validate-channels, get-runner-image]
    steps:
      - uses: actions/checkout@v4.1.1
      - name: Release charm to channel
        uses: canonical/charming-actions/release-charm@2.5.0-rc
        with:
          credentials: ${{ secrets.CHARMHUB_TOKEN }}
          charm-path: ${{ inputs.working-directory }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          origin-channel: ${{ inputs.origin-channel }}
          destination-channel: ${{ inputs.destination-channel }}
          base-name: ${{ needs.get-runner-image.outputs.name }}
          base-channel: ${{ needs.get-runner-image.outputs.channel }}
          base-architecture: ${{ inputs.base-architecture }}
  draft-publish-docs:
    name: Draft publish docs
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: ${{ inputs.charm-working-directory || inputs.working-directory }}
    steps:
      - uses: actions/checkout@v4.1.1
      - name: Search for docs folder
        id: docs-exist
        run: echo "docs_exist=$([[ -d docs ]] && echo 'True' || echo 'False')" >> $GITHUB_OUTPUT
      - name: Publish documentation
        if: steps.docs-exist.outputs.docs_exist == 'True'
        uses: canonical/discourse-gatekeeper@main
        with:
          discourse_host: discourse.charmhub.io
          discourse_api_username: ${{ secrets.DISCOURSE_API_USERNAME }}
          discourse_api_key: ${{ secrets.DISCOURSE_API_KEY }}
          dry_run: true
          github_token: ${{ secrets.GITHUB_TOKEN }}
          charm_dir:  ${{ inputs.charm-working-directory }}
  publish-docs:
    if: ${{ github.event.inputs.destination-channel }} == 'latest/stable'
    name: Publish docs
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: ${{ inputs.charm-working-directory || inputs.working-directory }}
    steps:
      - uses: actions/checkout@v4.1.1
      - name: Search for docs folder
        id: docs-exist
        run: echo "docs_exist=$([[ -d docs ]] && echo 'True' || echo 'False')" >> $GITHUB_OUTPUT
      - name: Publish documentation
        if: steps.docs-exist.outputs.docs_exist == 'True'
        uses: canonical/discourse-gatekeeper@main
        id: publishDocumentation
        with:
          discourse_host: discourse.charmhub.io
          discourse_api_username: ${{ secrets.DISCOURSE_API_USERNAME }}
          discourse_api_key: ${{ secrets.DISCOURSE_API_KEY }}
          dry_run: ${{ inputs.doc-automation-disabled }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          charm_dir:  ${{ inputs.charm-working-directory }}
      - name: Show index page
        if: steps.docs-exist.outputs.docs_exist == 'True'
        run: echo '${{ steps.publishDocumentation.outputs.index_url }}'
