# Copyright 2025 Canonical Ltd.
# See LICENSE file for licensing details.

name: Publish charm

on:
  workflow_call:
    inputs:
      channel:
        type: string
        required: false
        description: 'Destination Channel'
      charmcraft-channel:
        description: Charmcraft channel to use for publishing the charm and resources
        type: string
        default: latest/stable
      force-publish:
        description: Evaluate the detection of changes different from documentation to True
        type: boolean
        default: false
      identifier:
        type: string
        description: >-
          The matching integration test workflow job identifier, see identifier in the integration test workflow input.
        default: ""
      integration-test-workflow-file:
        description: The filename of the integration test workflow file.
        type: string
        default: "integration_test.yaml"
      publish-docs:
        type: boolean
        description: >-
          Whether to draft publish the documentation to Discourse.
          If set to false, the documentation will not be published.
        default: false
      publish-libs:
        type: boolean
        description: >-
          Whether to release charm libraries.
          If set to false, the libraries will not be released.
        default: true
      resource-mapping:
        type: string
        description: >-
          Associate rock image names with corresponding resource names specified in the charm metadata.
          If not defined, the suffix '-image' to the rock image name will be append.
          For instance, a rock image named 'my-rock' will be uploaded as the charm OCI resource named 'my-rock-image'.
        default: "{}"
      tag-prefix:
        type: string
        required: false
        description: |
          Tag prefix, useful when bundling multiple charms in the same repo.
      workflow-run-id:
        description: >-
          Use the newly built charms and images in this workflow run as the new version to upload.
          If these are not provided, the system will default to using charms and rocks from the most
          recent integration test that matches the git tree ID.
        type: string
        default: ""
      working-directory:
        type: string
        description: The working directory for jobs
        default: "./"
env:
  REGISTRY: ghcr.io
  OWNER: ${{ github.repository_owner }}
  CHARMCRAFT_ENABLE_EXPERIMENTAL_EXTENSIONS: "true"
  ROCKCRAFT_ENABLE_EXPERIMENTAL_EXTENSIONS: "true"

jobs:
  select-channel:
    runs-on: ubuntu-latest
    outputs:
      destination-channel: ${{ steps.select-channel.outputs.name }}
    steps:
      - name: Select charmhub channel
        uses: canonical/charming-actions/channel@2.7.0
        id: select-channel
        continue-on-error: true
  plan:
    name: Get plan
    runs-on: ubuntu-latest
    outputs:
      plan: ${{ steps.get-plan.outputs.plan }}
      run-id: ${{ steps.get-plan.outputs.run-id }}
      has-code-changes: ${{ steps.changes.outputs.has_code_changes }}
    steps:
      - name: Get plan
        uses: canonical/operator-workflows/internal/get-plan@main
        id: get-plan
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          working-directory: ${{ inputs.working-directory }}
          workflow-file: ${{ inputs.integration-test-workflow-file }}
          workflow-run-id: ${{ inputs.workflow-run-id }}
          identifier: ${{ inputs.identifier }}
      - uses: actions/checkout@v6.0.2
        with:
            fetch-depth: 0
      - name: Find changes
        id: changes
        run: |
          if [[ "${{ inputs.force-publish }}" == "true" ]]; then
            echo "has_code_changes=True"
            exit 0
          fi
          CHANGED_FILES=$(git diff --name-only "${{ github.event.before }}" "${{ github.event.after }}")
          CODE_FILE_CHANGES=$(echo "$CHANGED_FILES" | grep -v "\.md$" | wc -l)
          echo "has_code_changes=$([[ $CODE_FILE_CHANGES -eq "0" ]] && echo 'False' || echo 'True')" >> $GITHUB_OUTPUT

  publish-charm:
    name: Publish charm to ${{ inputs.channel || needs.select-channel.outputs.destination-channel }}
    runs-on: ubuntu-latest
    needs: [ plan, select-channel ]
    if: ${{ needs.plan.outputs.has-code-changes == 'True' }}
    outputs:
      charm-directory: ${{ steps.publish.outputs.charm-directory }}
    steps:
      - uses: actions/checkout@v6.0.2
      - run: sudo snap install charmcraft --channel ${{ inputs.charmcraft-channel }} --classic
        # required to use skopeo embedded within rockcraft - otherwise a docker error
        # "io: read/write on closed pipe" will happen
      - run: sudo snap install rockcraft --classic
      - uses: canonical/operator-workflows/internal/publish@main
        id: publish
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          charmhub-token: ${{ secrets.CHARMHUB_TOKEN }}
          plan: ${{ needs.plan.outputs.plan }}
          resource-mapping: ${{ inputs.resource-mapping }}
          working-directory: ${{ inputs.working-directory }}
          run-id: ${{ needs.plan.outputs.run-id }}
      - name: Change directory
        run: |
          TEMP_DIR=$(mktemp -d)
          cp -rp ./${{ steps.publish.outputs.charm-directory }}/. $TEMP_DIR
          rm -rf .* * || :
          cp -rp $TEMP_DIR/. .
          rm -rf $TEMP_DIR
          ls -lah
      - name: Upload charm to charmhub
        uses: canonical/charming-actions/upload-charm@2.7.0
        with:
          built-charm-path: ${{ steps.publish.outputs.charms }}
          charmcraft-channel: ${{ inputs.charmcraft-channel }}
          credentials: ${{ secrets.CHARMHUB_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          channel: ${{ inputs.channel || needs.select-channel.outputs.destination-channel }}
          tag-prefix: ${{ inputs.tag-prefix }}
          upload-image: false
  draft-publish-docs:
    name: Draft publish docs
    if: ${{ inputs.publish-docs }}
    runs-on: ubuntu-24.04
    needs: [ plan ]
    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}
    steps:
      - uses: actions/checkout@v6.0.2
      - name: Search for docs folder
        id: docs-exist
        run: echo "docs_exist=$([[ -d docs ]] && echo 'True' || echo 'False')" >> $GITHUB_OUTPUT
      - name: Publish documentation
        if: ${{ steps.docs-exist.outputs.docs_exist == 'True' && env.discourse_api_username != '' && env.discourse_api_key != '' }}
        uses: canonical/discourse-gatekeeper@stable
        env:
          discourse_api_username: ${{ secrets.DISCOURSE_API_USERNAME }}
          discourse_api_key: ${{ secrets.DISCOURSE_API_KEY }}
        with:
          discourse_host: discourse.charmhub.io
          discourse_api_username: ${{ secrets.DISCOURSE_API_USERNAME }}
          discourse_api_key: ${{ secrets.DISCOURSE_API_KEY }}
          dry_run: true
          github_token: ${{ secrets.GITHUB_TOKEN }}
          charm_dir: ${{ inputs.working-directory }}/${{ fromJSON(needs.plan.outputs.plan).build[0].source_directory }}
          base_branch: ${{ github.event.repository.default_branch }}
  release-charm-libs:
    name: Release charm libs
    runs-on: ubuntu-24.04
    if: ${{ inputs.publish-libs && needs.plan.outputs.has-code-changes == 'True' }}
    needs: [ plan, publish-charm ]
    steps:
      - uses: actions/checkout@v6.0.2
      - name: Change directory
        run: |
          TEMP_DIR=$(mktemp -d)
          cp -rp ./${{ needs.publish-charm.outputs.charm-directory }}/. $TEMP_DIR
          rm -rf .* * || :
          cp -rp $TEMP_DIR/. .
          rm -rf $TEMP_DIR
      - uses: canonical/charming-actions/release-libraries@2.7.0
        name: Release libs
        with:
          credentials: ${{ secrets.CHARMHUB_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
