# Copyright 2023 Canonical Ltd.
# See LICENSE file for licensing details.

name: Publish charm

on:
  workflow_call:
    inputs:
      channel:
        required: true
        type: string
        description: 'Destination Channel'
      working-directory:
        type: string
        description: The working directory for jobs
        default: "./"

jobs:
  branch-up-to-date-check-enabled:
    runs-on: ubuntu-22.04
    steps:
      # - uses: octokit/request-action@v2.x
      #   id: get-branch-protection
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.REPO_ACCESS_TOKEN }}
      #   with:
      #     route: GET /repos/{owner}/{repo}/branches/{branch}/protection/required_status_checks
      #     repo: ${{ github.event.repository.name }}
      #     owner: ${{ github.event.repository.owner.login }}
      #     branch: main
      - run: |
          echo "skipped"
          # if [ ${{ fromJson(steps.get-branch-protection.outputs.data).strict }} != "true" ]; then
          #   echo "::error::Strict checks are not enabled for this repository"
          #   exit 1
          # fi
  get-runner-image:
    name: Get runner image
    uses: ./.github/workflows/get_runner_image.yaml
    with:
      working-directory: ${{ inputs.working-directory }}
  release-charm-libs:
    name: Release charm libs
    needs: [ branch-up-to-date-check-enabled ]
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - if: inputs.working-directory != './'
        name: Change directory
        run: |
          TEMP_DIR=$(mktemp -d)
          cp -rp ${{inputs.working-directory}}/. $TEMP_DIR
          rm -rf .* * || :
          cp -rp $TEMP_DIR/. .
          rm -rf $TEMP_DIR
      - uses: canonical/charming-actions/release-libraries@2.3.0
        name: Release libs
        with:
          credentials: ${{ secrets.CHARMHUB_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
  get-run-id:
    name: Get workflow run if
    needs: [ branch-up-to-date-check-enabled ]
    runs-on: ubuntu-22.04
    outputs:
      run-id: ${{ env.RUN_ID }}
    steps:
      - name: Get workflow run id
        if: ${{ github.event_name == 'push' }}
        shell: bash  
        run: |
          echo "__________________________________________________________________________________________"
          gh api \
            --method GET \
            -H "Accept: application/vnd.github+json" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            /repos/${{ github.repository }}/actions/runs \
            -f status=success }} \
            -f head_sha=${GITHUB_SHA} \
            -f event=pull_request \
            --jq '[.workflow_runs[] | 'sort_by(.updated_at)' | reverse]')
          echo "__________________________________________________________________________________________"
          RUN_ID=$(gh api \
            --method GET \
            -H "Accept: application/vnd.github+json" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            /repos/${{ github.repository }}/actions/runs \
            -f status=success }} \
            -f head_sha=${GITHUB_SHA} \
            -f event=pull_request \
            --jq '[.workflow_runs[] | 'sort_by(.updated_at)' | reverse | select(.path == ".github/workflows/integration_test.yaml") | .id].[0]')
          echo "RUN_ID=$RUN_ID" >> $GITHUB_ENV
  get-images:
    name: Get images
    runs-on: ubuntu-22.04
    outputs:
      images: ${{ env.IMAGES }}
    steps:
      - uses: actions/checkout@v3
      - name: Get images
        working-directory: ${{ inputs.working-directory }}
        run: |
          lines=$(find . -type f -name rockcraft.yaml | wc -l)
          if [ $lines -ne 0 ]; then
            IMAGES=$(find . -type f -name rockcraft.yaml | xargs -l yq '.name' | jq -Rsc '. / "\n" - [""]')
          else
            IMAGES=$(ls *.Dockerfile 2> /dev/null | sed s/\.Dockerfile// |  jq -Rsc '. / "\n" - [""]')
          fi
          echo "IMAGES=$IMAGES" >> $GITHUB_ENV
  publish-images:
    name: Publish images to charmhub
    runs-on: ${{ needs.get-runner-image.outputs.runs-on }}
    needs: [ get-images, get-run-id, get-runner-image]
    if: ${{ needs.get-images.outputs.images != '[]' }}
    strategy:
      matrix:
        image: ${{ fromJSON(needs.get-images.outputs.images) }}
    steps:
      - uses: actions/checkout@v3
      - if: inputs.working-directory != './'
        name: Change directory
        run: |
          TEMP_DIR=$(mktemp -d)
          cp -rp ${{inputs.working-directory}}/. $TEMP_DIR
          rm -rf .* * || :
          cp -rp $TEMP_DIR/. .
          rm -rf $TEMP_DIR
      - name: Install charmcraft and skopeo
        run: |
          sudo snap install charmcraft --classic
          sudo snap install docker
      - name: Download image artifacts
        if: ${{ github.event_name == 'push' }}
        run: |
          gh run download ${{ needs.get-run-id.outputs.run-id }} -R ${{ github.repository }} -n ${{ matrix.image }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Download image artifacts
        uses: actions/download-artifact@v3
        if: ${{ github.event_name == 'pull_request' }}
        with:
          name: ${{ matrix.image }}
          path: ${{ inputs.working-directory }}
      - name: Publish image
        env:
          CHARMCRAFT_AUTH:  ${{ secrets.CHARMHUB_TOKEN }}
        run: |
          charmName=$(yq '.name' metadata.yaml)
          cat ${{ matrix.image }}.tar | docker import - ${{ matrix.image }}:latest
          imageId=$(docker images ${{ matrix.image }}:latest --format "{{.ID}}")
          charmcraft upload-resource $charmName ${{ matrix.image }}-image --image=$imageId --verbosity=brief
  publish-charm:
    name: Publish charm to ${{ inputs.channel }}
    runs-on: ${{ needs.get-runner-image.outputs.runs-on }}
    needs: [get-run-id, get-runner-image, publish-images]
    if: ${{ !failure() }}
    steps:
      - uses: actions/checkout@v3
      - if: inputs.working-directory != './'
        name: Change directory
        run: |
          TEMP_DIR=$(mktemp -d)
          cp -rp ${{inputs.working-directory}}/. $TEMP_DIR
          rm -rf .* * || :
          cp -rp $TEMP_DIR/. .
          rm -rf $TEMP_DIR
      - name: Get charm name
        id: get-charm-name
        run: echo "charm_name=$(yq '.name' metadata.yaml)" >> $GITHUB_OUTPUT
      - name: Download charm artifact
        if: ${{ github.event_name == 'push' }}
        run: |
          gh run download $${{ needs.get-run-id.outputs.run-id }} -R ${{ github.repository }} -n ${{ steps.get-charm-name.outputs.charm_name }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Download charm artifact
        uses: actions/download-artifact@v3
        if: ${{ github.event_name == 'pull_request' }}
        with:
          name: ${{ steps.get-charm-name.outputs.charm_name }}
          path: ${{ inputs.working-directory }}
      - name: Get charm file
        id: get-charm-file
        run: echo "charm_file=$(ls ${{ steps.get-charm-name.outputs.charm_name }}_*.charm)" >> $GITHUB_OUTPUT
      - name: Upload charm to charmhub
        uses: canonical/charming-actions/upload-charm@2.3.0
        with:
          built-charm-path: ${{ steps.get-charm-file.outputs.charm_file }}
          credentials: ${{ secrets.CHARMHUB_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          channel: ${{ inputs.channel }}
          upload-image: false
