name: Test and publish charm

# On push to a "special" branch, we:
# * always publish to charmhub at latest/edge/branchname
# * always run tests
# where a "special" branch is one of main/master or track/**, as
# by convention these branches are the source for a corresponding
# charmhub edge channel.

on:
  workflow_call:
    inputs:
      integration-test-extra-arguments:
        description: Additional arguments to pass to the integration tests
        type: string
      integration-test-varieties:
        type: string
        default: |
          [{"name": "", "args": ""}]
        description: >
          An array of object with two keys "name" and "args" in JSON format that represent different varieties of the integration test,
          i.e. '[{"name": "single unit test", "args": "--num-units=1"}, {"name": "multiple unit test", "args": "--num-units=3"}]' .
          The "args" of each element will be passed to pytest, and the "name" will be included in the GitHub action run job name.
      integration-test-pre-run-script:
        description: Path to the bash script to be run before the integration tests
        type: string
      integration-test-provider:
        description: Actions operator provider for the integration tests as per https://github.com/charmed-kubernetes/actions-operator#usage
        type: string
        default: microk8s
      integration-test-series:
        description: List of series to run the integration tests in JSON format, i.e. '["jammy", "focal"]'. Each element will be passed to pytest through tox as --series argument
        type: string
        default: '[""]'
      integration-test-modules:
        description: List of testing modules to run the tests in JSON format, i.e. '["foo", "bar"]'. Each element will be passed to pytest through tox as -k argument
        type: string
        default: '[""]'
      setup-devstack-swift:
        description: Use setup-devstack-swift action to prepare a swift server for integration tests.
        type: boolean
        default: false

jobs:
  lib-check:
    # This job is the precondition of all jobs that need the Charmhub token.
    # By disabling this job on forked repositories, we can achieve
    # disabling the publishing to Charmhub action on forked repositories
    # while still running tests on push events
    if: github.repository_owner == 'canonical'
    name: Check libraries
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: Check libs
        uses: canonical/charming-actions/check-libraries@2.1.1
        with:
          credentials: ${{ secrets.CHARMHUB_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
  tests:
    name: Run tests
    uses: ./.github/workflows/test.yaml
  integration-tests:
    name: Run integration tests
    uses: ./.github/workflows/integration_test.yaml
    with:
      extra-arguments: ${{ inputs.integration-test-extra-arguments }}
      extra-arguments-varieties: ${{ inputs.integration-test-varieties }}
      pre-run-script: ${{ inputs.integration-test-pre-run-script }}
      provider: ${{ inputs.integration-test-provider }}
      series: ${{ inputs.integration-test-series }}
      modules: ${{ inputs.integration-test-modules }}
      setup-devstack-swift: ${{ inputs.setup-devstack-swift }}
    secrets: inherit
  select-channel:
    name: Select target channel
    runs-on: ubuntu-22.04
    outputs:
      channel: ${{ steps.channel.outputs.name }}
    steps:
      - name: Select charmhub channel
        id: channel
        uses: canonical/charming-actions/channel@2.1.1
  publish-charm:
    name: Publish
    uses: ./.github/workflows/publish_charm.yaml
    needs: [ tests, integration-tests, select-channel ]
    with:
      channel: ${{ needs.select-channel.outputs.channel }}
      images: ${{ needs.integration-tests.outputs.images }}
    secrets: inherit
