# Copyright 2025 Canonical Ltd.
# See LICENSE file for licensing details.

name: Tests

on:
  workflow_call:
    inputs:
      charm-directory:
        type: string
        description: The working directory for the charm
        default: "."
      charmcraft-channel:
        description: Charmcraft channel to use
        type: string
        default: latest/stable
      working-directory:
        type: string
        description: The working directory for jobs
        default: "./"
      python-version:
        type: string
        required: false
        description: Python version to use when installing tox
        default: ""
      shellcheck-working-directory:
        type: string
        description: The working directory for the shellcheck-lint job
      self-hosted-runner:
        type: boolean
        description: Whether to use self-hosted runners to run the jobs.
        default: true
      self-hosted-runner-arch:
        type: string
        description: Architecture to use on self-hosted runners to run the jobs.
        default: "x64"
      self-hosted-runner-label:
        type: string
        description: Label for selecting the self-hosted runners.
        default: "large"
      self-hosted-runner-image:
        type: string
        description: Image of the requested runner. Supports only 'jammy' or 'noble'.
        default: "noble"
      pre-run-script:
        description: Path to the bash script to be run before the integration tests
        type: string
      vale-style-check:
        description: Whether to enable vale style check.
        type: boolean
        default: false
      vale-files:
        description: A JSON-formatted list of glob patterns to run vale check against.
        type: string
        default: '["docs/**/*.md", "README.md", "CONTRIBUTING.md"]' 
      with-uv:
        description: Whether to run the unit tests with tox-uv
        type: boolean
        required: false
        default: false
      require-check-lib:
        description: Whether to run the check-libraries action.
        type: boolean
        required: false
        default: true

        
concurrency:
  group: operator-workflows-${{ github.workflow }}-${{ inputs.working-directory }}-tests-${{ github.ref }}-self-hosted-${{ inputs.self-hosted-runner }}-py${{ inputs.python-version }}-uv-${{ inputs.with-uv }}
  cancel-in-progress: true

env:
  CONCURRENCY_GROUP: operator-workflows-${{ inputs.working-directory }}-tests-${{ github.ref }}-self-hosted-${{ inputs.self-hosted-runner }}-py${{ inputs.python-version }}-uv-${{ inputs.with-uv }}
  REPORT_NAME: "report"

jobs:
  changes:
    name: List changed files
    runs-on: >-
      ${{
        inputs.self-hosted-runner &&
        fromJson(format('[''self-hosted'', ''{0}'', ''{1}'', ''{2}'']',
          inputs.self-hosted-runner-arch, inputs.self-hosted-runner-label, inputs.self-hosted-runner-image
        )) || 'ubuntu-22.04'
      }}
    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}
    steps:
      - uses: actions/checkout@v6.0.2
        with:
          fetch-depth: 0
      - name: List changed files
        id: list-changed-files
        run: |
          REMOTE=$(git remote show)
          CHANGED_FILES=$(git diff --name-only "$REMOTE/${{ github.event.pull_request.base.ref }}" "${{ github.event.pull_request.head.sha }}")
          echo "Changed files: $CHANGED_FILES"
          echo changed_files="$CHANGED_FILES" >> $GITHUB_OUTPUT
  vale:
    name: Style checker
    if: inputs.vale-style-check && (contains(needs.changes.outputs.changed_files, '.md') || contains(needs.changes.outputs.changed_files, '.rst'))
    runs-on: >-
      ${{
        inputs.self-hosted-runner &&
        fromJson(format('[''self-hosted'', ''{0}'', ''{1}'', ''{2}'']',
          inputs.self-hosted-runner-arch, inputs.self-hosted-runner-label, inputs.self-hosted-runner-image
        )) || 'ubuntu-22.04'
      }}
    defaults:
      run:
        shell: bash
        working-directory: ${{ inputs.working-directory }}
    steps:
      - name: Checkout repo to runner
        uses: actions/checkout@v6.0.2
      - run: |
          sudo apt-get update -y && sudo apt-get install -y tree ruby-rubygems docutils
      - name: Install styles
        uses: canonical/documentation-style-guide@main
      - name: Resolve Vale file paths
        id: resolve_vale_files
        run: |
          set -euo pipefail
          shopt -s globstar nullglob
          patterns='${{ inputs.vale-files }}'
          files=$(
            while IFS= read -r pattern; do
              for f in $pattern; do
                [[ -e "$f" ]] && realpath "$f"
              done
            done < <(jq -r '.[]' <<<"$patterns") \
            | jq -R -s -c 'split("\n") | map(select(length>0))'
          )

          echo "Files identified for Vale check: $files"
          echo "files=$files" >> "$GITHUB_OUTPUT"
      - name: Run Vale tests
        uses: errata-ai/vale-action@v2.1.1
        with:
          files: ${{ steps.resolve_vale_files.outputs.files }}
          fail_on_error: ${{ inputs.vale-style-check }}
          filter_mode: nofilter
  shellcheck-lint:
    name: Shell scripts lint
    if: contains(needs.changes.outputs.changed_files, '.sh')
    runs-on: >-
      ${{
        inputs.self-hosted-runner &&
        fromJson(format('[''self-hosted'', ''{0}'', ''{1}'', ''{2}'']',
          inputs.self-hosted-runner-arch, inputs.self-hosted-runner-label, inputs.self-hosted-runner-image
        )) || 'ubuntu-22.04'
      }}
    defaults:
      run:
        working-directory: ${{ inputs.shellcheck-working-directory || inputs.working-directory }}
    steps:
      - uses: actions/checkout@v6.0.2
      - name: Gather files to scan
        shell: bash
        id: gather
        run: |
          declare -a filepaths
          shebangregex="^#! */[^ ]*/(env *)?[abk]*sh"

          set -f # temporarily disable globbing so that globs in inputs aren't expanded

          while IFS= read -r -d '' file; do
          filepaths+=("$file")
          done < <(find . \
                        -type f \
                        '(' \
                        -name '*.bash' \
                        -o -name '.bashrc' \
                        -o -name 'bashrc' \
                        -o -name '.bash_aliases' \
                        -o -name '.bash_completion' \
                        -o -name '.bash_login' \
                        -o -name '.bash_logout' \
                        -o -name '.bash_profile' \
                        -o -name 'bash_profile' \
                        -o -name '*.ksh' \
                        -o -name 'suid_profile' \
                        -o -name '*.zsh' \
                        -o -name '.zlogin' \
                        -o -name 'zlogin' \
                        -o -name '.zlogout' \
                        -o -name 'zlogout' \
                        -o -name '.zprofile' \
                        -o -name 'zprofile' \
                        -o -name '.zsenv' \
                        -o -name 'zsenv' \
                        -o -name '.zshrc' \
                        -o -name 'zshrc' \
                        -o -name '*.sh' \
                        -o -path '*/.profile' \
                        -o -path '*/profile' \
                        -o -name '*.shlib' \
                        ')' \
                        -print0)

          while IFS= read -r -d '' file; do
          head -n1 "$file" | grep -Eqs "$shebangregex" || continue
          filepaths+=("$file")
          done < <(find . \
                        -type f ! -name '*.*' -perm /111 \
                        -print0)
          echo "filepaths=${filepaths[@]}" >> $GITHUB_OUTPUT
          set +f # re-enable globbing
      - if: ${{ steps.gather.outputs.filepaths != '' }}
        name: Shellcheck Problem Matchers
        uses: lumaxis/shellcheck-problem-matchers@v2.1.0
      - if: ${{ steps.gather.outputs.filepaths != '' }}
        run: shellcheck -f gcc ${{steps.gather.outputs.filepaths}}
  docker-lint:
    name: Dockerfile lint
    if: contains(needs.changes.outputs.changed_files, 'Dockerfile')
    runs-on: >-
      ${{
        inputs.self-hosted-runner &&
        fromJson(format('[''self-hosted'', ''{0}'', ''{1}'', ''{2}'']',
          inputs.self-hosted-runner-arch, inputs.self-hosted-runner-label, inputs.self-hosted-runner-image
        )) || 'ubuntu-22.04'
      }}
    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}
    steps:
      - uses: actions/checkout@v6.0.2
      - name: Check for Dockerfiles
        id: dockerfiles
        run: echo -n "found=$(find . -name "*Dockerfile" -printf "${{ inputs.working-directory }}%p ")" >> $GITHUB_OUTPUT
      - if: ${{ steps.dockerfiles.outputs.found != '' }}
        name: Run HadoLint
        id: hado-lint
        uses: jbergstroem/hadolint-gh-action@v1
        with:
          dockerfile: "${{ steps.dockerfiles.outputs.found }}"
  metadata-lint:
    name: Lint metadata.yaml
    if: contains(needs.changes.outputs.changed_files, 'metadata.yaml')
    runs-on: >-
      ${{
        inputs.self-hosted-runner &&
        fromJson(format('[''self-hosted'', ''{0}'', ''{1}'', ''{2}'']',
          inputs.self-hosted-runner-arch, inputs.self-hosted-runner-label, inputs.self-hosted-runner-image
        )) || 'ubuntu-22.04'
      }}
    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}
    steps:
      - uses: actions/checkout@v6.0.2
      - name: Check file existence
        id: metadata-yaml
        run: echo "exists=$([ -f metadata.yaml ] && echo "true" || echo "false")" >> $GITHUB_OUTPUT
      - name: Run lint
        if: steps.metadata-yaml.outputs.exists == 'true'
        id: run-lint
        run: |
          options=""
          if [[ "${{ inputs.self-hosted-runner }}" == "true" && "${{ inputs.self-hosted-runner-image }}" == "noble" ]]; then
            options+=" --break-system-packages"
          fi
          python3 -m pip install check-jsonschema $options
          curl -fLsSo $PWD/metadata.schema https://raw.githubusercontent.com/canonical/operator-workflows/main/.github/files/metadata.schema
          check-jsonschema metadata.yaml --schemafile metadata.schema
  terraform-lint:
    name: Terraform lint
    if: contains(needs.changes.outputs.changed_files, '.tf')
    runs-on: >-
      ${{
        inputs.self-hosted-runner &&
        fromJson(format('[''self-hosted'', ''{0}'', ''{1}'', ''{2}'']',
          inputs.self-hosted-runner-arch, inputs.self-hosted-runner-label, inputs.self-hosted-runner-image
        )) || 'ubuntu-22.04'
      }}
    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}
    steps:
      - uses: actions/checkout@v6.0.2
      - name: Setup Tflint
        uses: terraform-linters/setup-tflint@v6.2.1
        with:
          tflint_wrapper_enabled: true
      - name: Run Tflint
        run: |
          tflint --version
          tflint --init
          tflint --recursive
  lint-and-unit-test:
    name: Lint and unit tests
    runs-on: >-
      ${{
        inputs.self-hosted-runner &&
        fromJson(format('[''self-hosted'', ''{0}'', ''{1}'', ''{2}'']',
          inputs.self-hosted-runner-arch, inputs.self-hosted-runner-label, inputs.self-hosted-runner-image
        )) || 'ubuntu-22.04'
      }}
    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}
    env:
      python-version: >-
        ${{
          inputs.python-version ||
          inputs.self-hosted-runner &&
          (
            inputs.self-hosted-runner-image == 'noble' && '3.12' ||
            inputs.self-hosted-runner-image == 'jammy' && '3.10' ||
            inputs.self-hosted-runner-image == 'focal' && '3.8'
          ) ||
          '3.10'
        }}
    steps:
      - uses: actions/checkout@v6.0.2
      - name: Pre-run script
        if: ${{ inputs.pre-run-script != '' }}
        run: bash -xe ${{ inputs.pre-run-script }}

      # Test with tox and regular python
      - name: Setup Python
        if: ${{ ! inputs.with-uv }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.python-version }}

      - name: Install tox
        if: ${{ ! inputs.with-uv }}
        run: pip install tox
          
      # Test with tox-uv and python setup by UV
      - name: Setup Astral UV
        if: ${{ inputs.with-uv }}
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ env.python-version }}

      - name: Install tox with UV
        if: ${{ inputs.with-uv }}
        run: uv tool install tox --with tox-uv

      - name: Run tests
        id: run-tests
        run: |
          # Ensure that stdout appears as normal and redirect to file and exit depends on exit code of first command
          STDOUT_LOG=$(mktemp --suffix=stdout.log)
          echo STDOUT_LOG=$STDOUT_LOG >> $GITHUB_ENV
          tox --result-json=test-result.json | tee $STDOUT_LOG ; test ${PIPESTATUS[0]} -eq 0
      - name: Export test report
        if: always() && !cancelled()
        uses: actions/github-script@v8.0.0
        with:
          script: |
            const no_color = (text) => {
                return text.replace(/[\u001b\u009b][[()#;?]*(?:[0-9]{1,4}(?:;[0-9]{0,4})*)?[0-9A-ORZcf-nqry=><]/g, '');
            }

            const sha = '${{ github.event.pull_request.head.sha }}';
            const fs = require('fs');
            const result = JSON.parse(fs.readFileSync('${{ inputs.working-directory }}/test-result.json')).testenvs;

            let lint_result = result.lint.test;
            let lint_success = true;
            let lint_output = '';
            for (let lint_test_result of lint_result) {
              if (lint_test_result.retcode != 0) {
                lint_success = false;
              }
              if (lint_test_result.output) {
                lint_output += lint_test_result.output;
              }
            }
            let unit_result = result.unit.test;
            let unit_success = unit_result[0].retcode == 0;
            let unit_output = unit_result[0].output;
            let static_result = result.static.test;
            let static_output = static_result[0].output;
            let coverage_result = result["coverage-report"].test;
            let coverage_output = coverage_result[0].output;

            let reports = [];
            if (!lint_success) {
              reports.push(
                `Lint checks failed for ${sha}\n
                \`\`\`\n${no_color(lint_output).trim()}\n\`\`\``
              );
            }
            if (!unit_success) {
              reports.push(
                `Unit tests failed for ${sha}\n
                \`\`\`\n${no_color(unit_output).trim()}\n\`\`\``
              );
            }
            reports.push(
              `Test coverage for ${sha}\n
              \`\`\`\n${no_color(coverage_output).trim()}\n\`\`\`
              Static code analysis report\n
              \`\`\`\n${no_color(static_output).trim()}\n\`\`\``
            );
            let json = JSON.stringify(reports);
            fs.writeFileSync('report.json', json);
      - name: Name test Report
        if: always() && github.event_name == 'pull_request' && !cancelled()
        run: |
          echo "REPORT_NAME=report-${CONCURRENCY_GROUP//\//_}" >> $GITHUB_ENV
      - name: Upload coverage report
        uses: actions/upload-artifact@v6
        if: always() && github.event_name == 'pull_request' && !cancelled()
        with:
          name: ${{ env.REPORT_NAME }}
          path: report.json
  license-headers-check:
    name: Check license headers
    runs-on: >-
      ${{
        inputs.self-hosted-runner &&
        fromJson(format('[''self-hosted'', ''{0}'', ''{1}'', ''{2}'']',
          inputs.self-hosted-runner-arch, inputs.self-hosted-runner-label, inputs.self-hosted-runner-image
        )) || 'ubuntu-22.04'
      }}
    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}
    steps:
      - uses: actions/checkout@v6.0.2
      - name: Check .licenserc.yaml exists
        id: licenserc-yaml
        run: echo "exists=$([ -f .licenserc.yaml ] && echo "true" || echo "false")" >> $GITHUB_OUTPUT
      - name: Get default license configuration
        if: steps.licenserc-yaml.outputs.exists == 'false'
        run: |
          curl -fLsSo .licenserc.yaml https://raw.githubusercontent.com/canonical/operator-workflows/main/.github/files/.licenserc.yaml
      - name: Check license headers
        uses: apache/skywalking-eyes/header@main
        with:
          config: .licenserc.yaml
  lib-check:
    name: Check libraries
    runs-on: >-
      ${{
        inputs.self-hosted-runner &&
        fromJson(format('[''self-hosted'', ''{0}'', ''{1}'', ''{2}'']',
          inputs.self-hosted-runner-arch, inputs.self-hosted-runner-label, inputs.self-hosted-runner-image
        )) || 'ubuntu-22.04'
      }}
    steps:
      - uses: actions/checkout@v6.0.2
      - name: Check libs
        if: ${{ !github.event.pull_request.head.repo.fork && inputs.require-check-lib }}
        uses: canonical/charming-actions/check-libraries@2.7.0
        with:
          credentials: ${{ secrets.CHARMHUB_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          charm-path: ${{ inputs.working-directory }}/${{ inputs.charm-directory }}
          charmcraft-channel: ${{ inputs.charmcraft-channel }}
  required_status_checks:
    name: Required Test Status Checks
    needs:
      - docker-lint
      - lib-check
      - lint-and-unit-test
      - metadata-lint
      - shellcheck-lint
      - terraform-lint
      - license-headers-check
      - vale
    runs-on: >-
      ${{
        inputs.self-hosted-runner &&
        fromJson(format('[''self-hosted'', ''{0}'', ''{1}'', ''{2}'']',
          inputs.self-hosted-runner-arch, inputs.self-hosted-runner-label, inputs.self-hosted-runner-image
        )) || 'ubuntu-22.04'
      }}
    if: always() && !cancelled()
    timeout-minutes: 5
    steps:
      - run: |
          [ '${{ needs.docker-lint.result }}' = 'success' ] || (echo docker-lint failed && false)
          [ '${{ needs.lib-check.result }}' = 'success' ] || (echo lib-check failed && false)
          [ '${{ needs.lint-and-unit-test.result }}' = 'success' ] || (echo lint-and-unit-test failed && false)
          [ '${{ needs.metadata-lint.result }}' = 'success' ] || (echo metadata-lint failed && false)
          [ '${{ needs.shellcheck-lint.result }}' = 'success' ] || (echo shellcheck-lint failed && false)
          [ '${{ needs.license-headers-check.result }}' = 'success' ] || (echo license-headers-check failed && false)
          [ "${{ needs.vale.result }}" = "success" ] || [ "${{ needs.vale.result }}" = "skipped" ] || (echo "vale style check failed" && false)
