# Copyright 2023 Canonical Ltd.
# See LICENSE file for licensing details.

name: Workflow Self-Test (Rockcraft Cache)

on:
  pull_request:
  
jobs:
  save-cache:
    uses: ./.github/workflows/build_rockcraft_cache.yaml
    secrets: inherit
    with:
      working-directory: "tests/workflows/integration/test-indico-rock/"

  restore-cache:
    needs: [ save-cache ]
    uses: ./.github/workflows/build_rocks.yaml
    secrets: inherit
    with:
      owner: ${{ github.repository_owner }}
      registry: ghcr.io
      working-directory: "tests/workflows/integration/test-indico-rock/"
