# Copyright 2025 Canonical Ltd.
# See LICENSE file for licensing details.

name: Workflow Integration tests

on:
  pull_request:

jobs:
  integration:
    uses: ./.github/workflows/integration_test.yaml
    secrets: inherit
    with:
      identifier: test-upload
      working-directory: "tests/workflows/integration/test-upload-charm/"
      trivy-image-config: "tests/workflows/integration/test-upload-charm/trivy.yaml"
      juju-channel: 3.6/stable
      channel: 1.34-strict/stable
      provider: microk8s
      with-uv: true
  integration-artifact:
    strategy:
      matrix:
        runtime: [amd64, arm64]
    uses: ./.github/workflows/integration_test.yaml
    secrets: inherit
    with:
      identifier: test-upload-artifact
      working-directory: "tests/workflows/integration/test-upload-charm/"
      trivy-image-config: "tests/workflows/integration/test-upload-charm/trivy.yaml"
      juju-channel: 3.6/stable
      channel: 1.34-strict/stable
      provider: microk8s
      upload-image: artifact
      microk8s-addons: "dns ingress rbac storage registry"
      with-uv: true
      builder-runner-label: ${{ matrix.runtime }}
      self-hosted-runner: true
      self-hosted-runner-arch: ${{ matrix.runtime }}
      self-hosted-runner-label: ${{ matrix.runtime }}
  integration-self-hosted:
    uses: ./.github/workflows/integration_test.yaml
    secrets: inherit
    with:
      juju-channel: '3/stable'
      channel: 1.34-strict/stable
      provider: microk8s
      working-directory: "tests/workflows/integration/test-upload-charm/"
      trivy-image-config: "tests/workflows/integration/test-upload-charm/trivy.yaml"
      self-hosted-runner: true
      self-hosted-runner-label: "edge"
      with-uv: true
  integration-rock:
    uses: ./.github/workflows/integration_test.yaml
    secrets: inherit
    with:
      working-directory: "tests/workflows/integration/test-rock/"
      trivy-image-config: "tests/workflows/integration/test-rock/trivy.yaml"
      with-uv: true
  integration-rock-artifact:
    uses: ./.github/workflows/integration_test.yaml
    secrets: inherit
    with:
      working-directory: "tests/workflows/integration/test-rock/"
      upload-image: artifact
      microk8s-addons: "dns ingress rbac storage registry"
      trivy-image-config: "tests/workflows/integration/test-rock/trivy.yaml"
      with-uv: true
  publish:
    uses: ./.github/workflows/publish_charm.yaml
    secrets: inherit
    needs: [ integration ]
    with:
      identifier: test-upload
      channel: latest/edge
      force-publish: true
      integration-test-workflow-file: workflow_test.yaml
      working-directory: tests/workflows/integration/test-upload-charm/
      workflow-run-id: ${{ github.run_id }}
  publish-artifact:
    uses: ./.github/workflows/publish_charm.yaml
    secrets: inherit
    needs: [ publish, integration-artifact ]
    with:
      identifier: test-upload-artifact
      channel: latest/edge
      force-publish: true
      integration-test-workflow-file: workflow_test.yaml
      working-directory: tests/workflows/integration/test-upload-charm/
      workflow-run-id: ${{ github.run_id }}
  allure-report:
    if: always() && !cancelled()
    needs:
      - integration
      - integration-artifact
      - integration-self-hosted
    uses: ./.github/workflows/allure_report.yaml
  check:
    runs-on: ubuntu-latest
    if: always() && !cancelled()
    timeout-minutes: 5
    needs:
      - integration
      - integration-artifact
      - integration-self-hosted
      - integration-rock
      - integration-rock-artifact
      - publish
      - publish-artifact
      - allure-report
    steps:
      - run: |
          [ '${{ needs.integration.result }}' = 'success' ] || (echo integration-juju3 failed && false)
          [ '${{ needs.integration-artifact.result }}' = 'success' ] || (echo integration-artifact failed && false)
          [ '${{ needs.integration-self-hosted.result }}' = 'success' ] || (echo integration-self-hosted failed && false)
          [ '${{ needs.integration-rock.result }}' = 'success' ] || (echo integration-rock failed && false)
          [ '${{ needs.integration-rock-artifact.result }}' = 'success' ] || (echo integration-rock-artifact failed && false)
          [ '${{ needs.publish.result }}' != 'failure' ] || (echo publish failed && false)
          [ '${{ needs.publish-artifact.result }}' != 'failure' ] || (echo publish failed && false)
          [ '${{ needs.allure-report.result }}' != 'failure' ] || (echo allure-report failed && false)
  integration-canonical-k8s:
    uses: ./.github/workflows/integration_test.yaml
    secrets: inherit
    with:
      working-directory: "tests/workflows/integration/test-rock/"
      trivy-image-config: "tests/workflows/integration/test-rock/trivy.yaml"
      provider: k8s
      extra-arguments: |
        --kube-config=~/.kube/config
      use-canonical-k8s: true
      juju-channel: 3.6/stable
      channel: edge
      charmcraft-channel: latest/edge
      # We need large runners to be able to deploy canonical k8s
      self-hosted-runner: true
      self-hosted-runner-image: noble
      self-hosted-runner-label: large
      with-uv: true
  integration-alternative-rock-filename:
    uses: ./.github/workflows/integration_test.yaml
    secrets: inherit
    with:
      working-directory: "tests/workflows/integration/test-alter-rock-name/"
      trivy-image-config: "tests/workflows/integration/test-alter-rock-name/trivy.yaml"
      with-uv: true
  spread-docs-md:
    uses: ./.github/workflows/docs_spread.yaml
    secrets: inherit
    with:
      input-file: tests/workflows/docs_spread/test_tutorial.md
      output-dir: tests/spread/test_tutorial_md
      spread-job: github-ci:ubuntu-24.04-64:tests/spread/test_tutorial_md
  spread-docs-rst:
    uses: ./.github/workflows/docs_spread.yaml
    secrets: inherit
    with:
      input-file: tests/workflows/docs_spread/test_tutorial.rst
      output-dir: tests/spread/test_tutorial_rst
      spread-job: github-ci:ubuntu-24.04-64:tests/spread/test_tutorial_rst
